
/*
 *  MINSA-ERH
 */

.modal-lg {
    min-width: 80% !important;
    max-width: 90% !important;
}

.image-header {
    width: 200px;
    height: 40px;
}
.navbar-brand {
    padding: 5px 25px 5px 25px;
}

footer .well-sm {
    text-align: center;
    padding: 10px auto 10px;
}